<router-outlet></router-outlet>
<router-outlet></router-outlet>
 <body style="background-color:pink;">
<div id="wrapper">  
<header>

<div>


</div>

<button class="getEyeliner"  (click) = "getEyeliner()" > Get Your Perfect Eyeliner!</button>
 


<div>
    &nbsp;&nbsp;&nbsp;&nbsp;   
    &nbsp;&nbsp;&nbsp;&nbsp;   



        <img width ="500px" height="500" src= "{{this.imageUrl}}" >
    
        
        <div class = "content">
    
            <li>
            <p> Eyeliner: {{this.eyelinerName}}</p> 
            <p> Shade: {{this.eyelinerColor}}</p>
             <p> Price: {{this.eyelinerPrice}} <p> 

</li>

</div>


            </div>
 
