<body style="background-color:pink;">

    <button user *ngIf= "this.username "> {{this.username}}</button>
    <button type="button" [routerLink]="['/create-account']">Create Account</button>
    <button type="button" [routerLink]="['/login']">Login</button>
    <button type="button" [routerLink]="['/home']">Search for products</button>

 


    <h1>MakeupFinder</h1>
    <h2>
        <p>
        We will match you with your perfect
        makeup products based on your personal features! <p>

        <p>
        Either first create an account specifying your attributes or jump 
        into searching for products!
        </p>
        
    </h2>
 
    
       
    

  

<router-outlet></router-outlet>



</body>