<router-outlet></router-outlet>
<body style=" background-color: pink" >
    <h1 style="font-family: fantasy"> Login </h1>
    <div id="wrapper">
    <p style="font-family:Times New Roman">
        Username:
    <input class="input" style="text-align:center" type="text" #box (keyup)="getUsername(box.value)" placeholder="Enter username" name="Username">
    
    </p>
    <p style="font-family:Times New Roman">
        Passsword:
    <input class="input" type="text" #box (keyup)="getPassword(box.value)" placeholder="Enter password" name="Username">
    </p>
    
    &nbsp;&nbsp;&nbsp;&nbsp; 

    <p *ngIf="this.noUser" style="font-family:Times New Roman">
        There is no account with this username and password.
        Create an account to get started!
    </p>



    <button class="submit" *ngIf="this.ifSubmit()"  (click) = "login()" [routerLink]="['/submit']"> Submit!</button>
  
    <p *ngIf="this.noUser" style="font-family:Times New Roman">
        There is no account with this username and password.
        Create an account to get started!
    </p>



    </div>
</body>